<div class="container">
    <h1 class="container-header">Posts</h1>
    <div class="post-container">
        <div class="post-column">
            <div class="card" onclick="location.href='/post'">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione?</article>
            </div>
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione?</article>
            </div>
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cumque, veritatis consectetur excepturi temporibus a hic dolorum minima tenetur ipsa magnam repudiandae cum culpa nihil amet ut voluptates iusto blanditiis.</article>
            </div>
        </div>
        <div class="post-column">        
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione? Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem harum ex aut ipsam, aspernatur vero quam, dicta est totam sequi, eaque animi amet numquam unde? Possimus omnis qui voluptates officiis.</article>
            </div>
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione?</article>
            </div>
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione?</article>
            </div>
        </div>
        <div class="post-column">        
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione?</article>
            </div>
            <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nemo? Dignissimos, nulla. Esse ad totam facere placeat nulla? Ad perferendis inventore maiores aspernatur dignissimos voluptas quos eum consequatur. Nam, quia?</article>
            </div>
                <div class="card">
                <section class="card-header">Post Title</section>
                <hr>
                <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab fuga iusto, iste dolor molestias vero eveniet quos exercitationem, odio illum porro, dignissimos qui maxime consequuntur a. Repellendus, voluptate ratione?</article>
            </div>
        </div>

    </div>
</div>