<div class="container">
    <h1 class="container-header">Login</h1>
    <div class="login-container">
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>

        <div class="login-footer">
            <p>Or <a href="/signup">sign up</a> for a new one</p>
        </div>
    </div>
</div>