<div class="container post-page-container">
    <h1>Post Title</h1>
    <p class="post-page-date">142d ago</p>
    <hr>
    <p class="post-page-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, in necessitatibus. Quidem culpa voluptatibus iure cum commodi, amet expedita ad numquam provident nisi rem saepe blanditiis quia distinctio perspiciatis similique.
        
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident cum fugiat similique iste ex ullam veniam quibusdam mollitia! Ut vero tempora incidunt totam rerum repudiandae laboriosam sint ea at ipsa.
    </p>
    <p class="post-page-detail ">Created By: <span class="post-page-user">User-Member</span></p>
</div>